body{
    background-image: url("../../../Imagenes/Fondos/Long Live Women’s Sneaker Exclusives _ SoleSavy News.jpg");
    background-size: cover;
    background-position: center center;
}



header{
    grid-column: 1 / 2;
    grid-row: 1;
    
    padding: 10px;
    width: 290px;
    height: 125px;
}

.titulo-principal {
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}

.primer-t {
    background-color: rgb(250, 237, 0);
    padding: 10px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
}
.BotonTitulo{
   border-radius: 100px;
   border: 0px;
   background-color: rgba(255, 0, 0, 0);
   
}
.BotonTitulo:hover{
    cursor: pointer;

}
.BotonesContenedor{
    margin-top: 10px;
    padding: 6px 15px;
    border-radius: 10px;
    cursor: pointer;
    align-self: flex-center;
    background-color: rgb(229, 229, 118);
    transition: all 0.5s ease;
    border-color: black;
    border-style: solid;
    
}

.BotonesContenedor:hover{
    background-color: rgb(248, 248, 139);
    scale: 1.1;   
}

img{
    width: 200px;
    height: 200px;
    border-radius: 400px;
}
.Navegador{
    width: 490px;
    height: 100px;
    background-color: rgba(197, 188, 110, 0);
    font-size: 22px;
    border-radius: 10px;
    grid-row: 1;
    grid-column: 3 ;
    padding: 10px;
    
}


.menu-horizontal{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 200px;
    background-color :rgba(244, 244, 133, 0);
    border-radius: 10px;
    
}

.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
}

.menu-horizontal > li:hover {
    background-color: rgba(233, 241, 142, 0);
}
.menu-vertical{
    position:absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(93, 89, 89, 0.67);
    
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color: rgb(207, 207, 128);

}
.menu-vertical li a{
    display: block;
    color: rgb(244, 166, 166);
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}



ul{
    list-style-type: none;
    
}


body{
    display: grid;
}

main{
    background-color: rgba(0, 0, 0, 0);
    grid-row: 2 / 4;
    grid-column: 1 / 4;
    padding: 20px;
    border-radius: 20PX;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    padding: 10px;
    
}

.hijo {
    padding: 10px;
    margin: 5px;
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 30px;
    background-color: rgba(70, 70, 70, 0.715);
    align-items: center;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    
}


.tituloMain
{
    padding: 20px;
    grid-column: 1 / 4;
    grid-row: 2;
    background-image: url("https://c.static-nike.com/a/images/w_1200,c_limit/bzl2wmsfh7kgdkufrrjq/seo-title.jpg");
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
    width: 1320px;
}
.tituloMainAdidas{
    padding: 20px;
    grid-column: 1 / 4;
    grid-row: 2;
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/aplusautomation/vendorimages/3f864549-c863-4b31-9fd7-d2963615eab2.jpg._CB522798621__SR970,300_.jpg");
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
}
.TituloAnimado{
    animation: EfectoTitulo 2s infinite ease-in alternate ;
}

@keyframes EfectoTitulo {
    form{

    }
    to {
        scale: 1.2;
        
    }
}

.SegundoHijoNike{
    padding: 10px;
    grid-column: 4 ;
    grid-row: 1 / 4;
    background-image: url("https://i.pinimg.com/564x/d4/c5/a0/d4c5a065623815642eb4a03d6d4d9875.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    text-align: center;
    border-radius: 25PX;
    border-color: rgb(232, 150, 150);
    border-style: solid;
}
.SegundoHijoAdidas{
    padding: 10px;
    grid-column: 4 ;
    grid-row: 1 / 4;
    background-image: url("https://i.pinimg.com/736x/6a/ed/94/6aed94d99cb72f8d1b9d5be50ec86e03.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    text-align: center;
    border-radius: 25PX;
    border-color: rgb(232, 150, 150);
    border-style: solid;
}

.Pie{
    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-template-columns: repeat(4 4fr);
    grid-column: 1 / 4;
    grid-row: 4 / 4;
    background-color: rgb(255, 166, 166);
    margin: 5px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}
.Redes {
    background-color: rgba(0, 0, 255, 0);
    border: 0px;
    transition: 1s;
    width: 30px;
    height: 10px;
}
.Redes:hover{
    cursor: pointer;
}

.Logos{
    width: 25px;
    height: 25px;
    align-items: center;
}
 